[submodule "learnSpringMVC"]
	path = learnSpringMVC
	url = https://github.com/IvanEh/LearnSpringMVC
[submodule "learnJdbc"]
	path = learnJdbc
	url = https://github.com/IvanEh/LearnJdbc
[submodule "learnSpringJdbc"]
	path = learnSpringJdbc
	url = https://github.com/IvanEh/LearnSpringJdbc
[submodule "learnJSF"]
	path = learnJSF
	url = https://github.com/IvanEh/LearnJSF
[submodule "learnSpringSecurity"]
	path = learnSpringSecurity
	url = https://github.com/IvanEh/LearnSpringSecurity
